fastapi
uvicorn
pandas
numpy
scikit-learn
qdrant-client
sentence-transformers
pydantic
sqlmodel
alembic
faker
passlib[bcrypt]
aiosqlite
Pillow
PyPDF2
google-genai
python-dotenv
python-multipart
greenlet
